*{
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body{
    
    margin: 0px;
    padding: 0px;
    background-image: url("../images/fond.jpg"); /* url("image/f5.jpg");*/
    /*background-color: burlywood;*/
    background-repeat: no-repeat;
    background-size: cover;
    /*animation: anime2 15s ease-out 15s infinite alternate;*/
}
/*
@keyframes anime2 {
    0%{background-image: url("image/f1.jpg");}
    25%{background-image: url("image/f2.jpg");}
    50%{background-image: url("image/f3.jpg");}
    75%{background-image: url("image/f4.jpg");}
    100%{background-image: url("image/f5.jpg");}
}*/
img{
    margin-top: 30px;
    width: 120px;
    height: 120px;
    margin-left: 40%;
    margin-right: 40%;
}
input{
    margin-bottom: 10px;
    margin-top: 5px;
    width: 80%;
    height: 38px;
    padding-left: 4px;
    border-radius: 10px;
}
form{
    margin-left: 16%;
    padding-left: 10px;
}
p{
    margin-top: 20px;
    text-align: center;
    padding: 20px;
}
a{
    text-decoration: none;
}
div{
    margin: 100px 20% 100px 20%;
    box-shadow: 0px 0px 10px black;
    background-color: rgba(240, 248, 255, 0.4);
    border-radius: 20px;

}

button{
    margin-top: 20px;
    padding: 5px;
    height: 35px;
    width: 80%;
    border-radius: 10px;
    background-color: #25f;
    color: #fff;
}
button:hover{
    background-color: black;
}
input:focus{
    animation: anime1 0.5s ease 0.1s infinite alternate;
}
@keyframes anime1 {
    0%{
        box-shadow: 0px 0px 15px #000;
    }
    50%{
        box-shadow: 0px 0px 4px #000;
    }
    100%{
        box-shadow: 0px 0px 15px #000;
    }
}
label, p, a{
    font-weight: bold;
}
img{
	border-radius: 100%;
	margin-bottom: 10px;
}
